{% extends 'Home/index.html'%}

{% load static %}

{% block titulo %}Sailor Moon{% endblock titulo %}

{% block cambia %}
<main class="px-3">
  <h1>Sailor Moon</h1>
  <p class="lead"><br>Aquí podrás crear tu Sailor Senshi o buscar alguna ya creada        
    <br>Para que quede en nuestra base de datos deberás completar los campos de categoría, nombre, planeta y objeto.
    {% block importante %}
    <h5>Recordá poner siempre "sailor" en el campo categoría</h5>
    {% endblock importante %}
    <br><br>
  
  <a href="{% url 'NuevaSailor' %}" class="btn btn-lg fw-bold text-white" style="background-color:rgb(88,21,28)">Nueva Sailor</a>
<br>
<br>
<br>
  <h3>Sailor Senjis creadas</h3>
  {% if sailor %}
    {% for senji in sailor %}
    <li>
      <h5>{{senji.nombre}}</h5>
      <p>
        <a href="{% url 'DetalleSailor' senji.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-eye-fill"></i></a>
        <a href="{% url 'EditarSailor' senji.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-pencil-fill"></i></a>
        <a href="{% url 'BorrarSailor' senji.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-trash-fill"></i></a>
      </p>
    </li>
    {% endfor %}
  {% endif %}
    <br><br><br>
</main>
{% endblock cambia %}

