{% extends 'Home/index.html'%}

{% load static %}

{% block titulo %}Witch{% endblock titulo %}

{% block cambia %}

<main class="px-3">
    <h1>W.I.T.C.H {{winx.nombre}}</h1>
    <h5 align="center">Nombre:</h5>
    <p class="lead">{{witch.nombre}}</p>
    <br>

    <h5 align="center">Elemento:</h5>
    <p class="lead">{{witch.elemento}}</p>
    <br>

    <h5 align="center">Signo Zodiacal:</h5>
    <p class="lead">{{witch.signo}}</p>
    <br>

    {% block importante %}
    <a href="{% url 'ListaWitch' %}" class="btn btn-lg fw-bold text-white" style="background-color:rgb(88,21,28)"><i class="bi-arrow-left-short"></i></a>
    {% endblock importante %}
    <br><br><br> 
</main>

{% endblock cambia %}