{% extends 'Home/index.html'%}

{% load static %}

{% block titulo %}Witch{% endblock titulo %}

{% block cambia %}
<main class="px-3">
  <h1>W.I.T.C.H</h1>
  <p class="lead"><br>Aquí podrás crear tu Witch o buscar alguna ya creada        
    <br>Para que quede en nuestra base de datos deberás completar los campos de nombre, elemento y signo zodiacal.
    {% block importante %}
    <h5>Recordá poner siempre "witch" en el campo categoría</h5>
    {% endblock importante %}
    <br><br>
  
  <a href="{% url 'NuevaWitch' %}" class="btn btn-lg fw-bold text-white" style="background-color:rgb(88,21,28)">Nueva Witch</a>
<br>
<br>
<br>
  <h3>Hadas creadas</h3>
  {% if witch %}
    {% for bruja in witch %}
    <li>
      <h5>{{bruja.nombre}}</h5>
      <p>
        <a href="{% url 'DetalleWitch' bruja.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-eye-fill"></i></a>
        <a href="{% url 'EditarWitch' bruja.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-pencil-fill"></i></a>
        <a href="{% url 'BorrarWitch' bruja.pk %}" class="btn text-danger-emphasis fw-semibold" style="background-color:#ffffff"><i class="bi-trash-fill"></i></a>
      </p>
    </li>
    {% endfor %}
  {% endif %}
    <br><br><br>
</main>
{% endblock cambia %}

